<!-- homepage view -->

<div class="hero-container">
  <div class="hero-ctas">
    <!-- hero main -->
    {{!-- <img src="/ui-assets/apiLogo1.png" alt="logo" id="logo-img" style="height: 200px; width: 200px"> --}}
    <h3 id="hero-title">
      MLgNLP-NaiveBayes<br>
      Text Classifier<br>
      API</h3>

    <!-- General Search -->
    <div class="search-container">
      <input type="text" id="search-box" placeholder="Search">
      <img src="/ui-assets/search-icon.png" alt="" id="search-btn">
    </div>
  {{#if message}}
    <div class="hero-actions-container">{{message}}</div>
  {{/if}}


      <div class="action-container" id="action1">
        <a href="#"><img src="/ui-assets/api-docs-imgEDIT.svg" alt="img"></a>
        <p>API Documentation</p>
      </div>

      <div class="action-container" id="action2">
        <a href="#"><img src="/ui-assets/setupEDIT.svg" alt="img"></a>
        <p>Setup Pages</p>
      </div>

      <div class="action-container" id="action3">
        <a href="/app/selectModel"><img src="/ui-assets/database-docs-img.png" alt="img"></a>
        <p>Select Model for Predictions</p>
      </div>

      <div class="action-container" id="action4">
        <a href="/app/trainmodel"><img src="/ui-assets/service-menuEDIT.svg" alt="img"></a>
        <p>Train Model</p>
      </div>

      <div class="action-container" id="action5">
        <a href="/logout" id="logout"><img src="/ui-assets/logout.svg" alt=""></a>
        <p>logout</p>
      </div>
    </div>

    <div class="action-container" id="action8">
      <button id="factory-reset-btn"><img src="/ui-assets/warning.png" alt="" style="width: 55px; height 55px"></button>
      <p>Clear All Db Tables</p>
    </div>
    {{!-- developer logo --}}
    <div class="action-container" id="action8">
      <img src="/ui-assets/logo-nobackground-1000.svg" alt="logo" id="logo-img" style="height: 80px; width: 80px">

    </div>
    {{#if toastMessage}}
    <div class="toast-container">
      <div class="toast-message">
        <p>{{toastMessage}}</p>
      </div>
      {{/if}}
    </div>
  </div>
</div>