<!-- test request form -->

<form method="post" action="/app/tokenize">
  <span class="close" id="close-reset-form">&times;</span>
  <img src="/ui-assets/apiLogo1.png" alt="logo"
    style="height: 40px; width: 40px; margin: -9px -10px -1px 0px;">
  <br>
  <label for="strings">Enter your registered email:</label>
  <input type="text" name="strings" required>
  <button id="reset-btn" type="submit">Tokenize</button>
  <br>
</form>