<!-- password reset form -->

<form method="post" action="/reset/check-email-reset">
  <span class="close" id="close-reset-form">&times;</span>
  <img src="/assets/logo.webp" alt="logo"
    style="height: 40px; width: 40px; margin: -9px -10px -1px 0px;">
  <br>
  <label for="useremail">Enter your registered email:</label>
  <input type="email" name="useremail" required>
  <button id="reset-btn" type="submit">Get Reset email</button>
  <br>
</form>
