
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Classification API</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
  <link rel="stylesheet" href="/css/custom-styles.css">
  <link rel="icon" href="#" type="image/x-icon">
  <script src="/client-scripts/client-main.js" defer></script>
  <script src="/client-scripts/client-validation.js" defer></script>
  <script src="/client-scripts/client-load.js" defer></script>
  <script src="/client-scripts/password-help.js" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/showdown@1.9.1/dist/showdown.min.js" defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.6/handlebars.min.js" defer></script>
</head>
<body>
    <div id="content">
      {{{body}}}
    <div>
</body>
</html>